extends ../_layouts/layout

block content
    .container Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet animi aut debitis delectus distinctio earum magni maxime, modi, molestiae molestias mollitia nam perspiciatis, quaerat suscipit temporibus veniam? Assumenda, quae?